body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  .container{
    flex:1;
  }
/* nav bar */
.navbar{
    height:5rem;
    background-color: white !important;
}
.fa-compass{
    color:#fe434d;
    font-size:2rem;
    
}
.nav-link{
    color:#222222 !important;
    font-size: 20px;
}
/* footer */
.f-info-link a{
 text-decoration: none;
 color:#222222;
}
.f-info-link a:hover{
    text-decoration: underline;
    color:#222222;
   }
   .f-info-link, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;  
    align-items: center;  
    justify-content: center;
    vertical-align: middle;
    
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height:8rem;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
}
/* card */
.listing-card{
    border: none !important;
    margin-bottom: 1rem;

}
.card-img-top{
    border-radius: 1.2rem !important;
    width:100%;
    object-fit:cover !important

}

.card-text p{
    font-weight:400 !important;
}
.listing-link{
   text-decoration:none !important; 
   color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe434d !important;
    border: none !important;
}
/* Edit page */
.edit-btn{
    background-color: #fe434d !important;
    border: none !important;
}

/* Show-page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}